body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	color: black;	
}

header{
	height: 130px;
	background-image: url("../images/back.png");
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
}

.bar-wrapper {
	display: flex;
	width: 100%;
	height: 50%;
	flex-direction: row;
	margin-top: 16px;
	align-items: flex-start;	
}

.menu-wrapper{
	height: 100%;
	display: flex;
	margin-left: 25px;
}

.logo-wrapper{
	height: 100%;
	display: flex;
	justify-content: center;
	padding-left:13px;
}

.logo{
	width: 158px;
	height: 24px;
}

.items-wrapper{
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: flex-end;
}

.search-wrapper{
	height: 100%;
	display: flex;
	justify-content: flex-end;
	margin-right: 13px;
}

.user-wrapper{
	height: 100%;
	display: flex;
	justify-content: flex-start;
	margin-right: 35px;
}
.user, .search, .menu {
	width: 22px;
	height: 22px;
}

.career-item {
	height: 50%;
	display: flex;
	font-family: Comfortaa;
	font-size: 12px;
	line-height: 13px;

	margin-left: 25px;
	align-items: center;
	width:40%;
	align-self: flex-start;
}

.content {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.interns-wrapper, .mero-wrapper, .courses-wrapper {
	margin: 16px 25px 0px 25px ;
}

.courses-wrapper {
	margin-bottom: 16px;
}


.card-wrapper {
	width: 100%;
	height: 95px;
	margin: 16px 0;
	background: #FBF8F9;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.first-intern, .second-intern {
	padding: 10px 0px;
}

.logo-and-time-wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.logo-company {
	width: 49px;
	height: 49px;
	display: flex;
	align-items: flex-start;
	padding-left: 10px;
}

.time-ago {
	padding-left: 10px;	
}

.info-wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.info {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 5px;
}

.vacancy {
	font-size: 13px;
	color: black;
	text-decoration: none;
}
.vacancy:focus {
	text-decoration: underline;
}

.payment, .time-ago {
	font-size: 9px;
	color: rgba(0, 0, 0, 0.7);
}

.company {
	font-size: 10px;
}

.favorite-wrapper {
	display: flex;
	justify-content: flex-end;
	height: 50%;
	padding-right: 10px;	
}

.favorite {
	width: 13px;
	height: 13px;
	color: rgba(15, 18, 30, 0.5);
}

.details-wrapper {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	height: 50%;
	padding-right: 10px;
}

.btn-details {
	width: 73px;
	height: 19px;
	background: rgba(95, 98, 112, 0.5);
	border: none;
	border-radius: 10px;
	font-size: 9px;

}

.btn-details:active {
	background: rgba(95, 98, 112, 0.6);
}

.btn-content-wrapper {
	display: flex;
	justify-content: flex-end;
}

.btn-content {
	width: 91px;
	height: 16px;
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 3px;
	font-size: 9px;
	line-height: 11px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-content:active {
	background: rgba(53, 56, 69, 0.6);
	color: white;
	border: none;
}

.first-mero, .second-mero {
	height: 105px;
	padding-bottom: 10px;
	flex-direction: row;
	flex-wrap: wrap;
}

.mero {
	font-size: 13px;
	color: black;
	text-decoration: none;
	padding-left: 20px;
}

.flag-wrapper {
	display: flex;
	width: 100%;
	justify-content: flex-end;
	height: 18px;
}

.date-wrapper {
	width: 91px;
	height: 18px;
	background: #FFFFFF;
	border: 1px solid rgba(15, 18, 30, 0.5);
	box-sizing: border-box;
	border-radius: 0px 0px 0px 10px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.date {
	font-size: 12px;
}

.mero:focus {
	text-decoration: underline;
}

.tech {
	font-size: 11px;
	padding-left: 20px;
}


.space-between {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.space-between-mero {
	height: 88px;
}

.space-between-course {
	height: 100%;
}

.first-course, .second-course {
	padding: 10px 0px;
}

footer {
	height: 180px;
	background-color: #353845;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.inscription {
	width: 100%;
	display: flex;
	justify-content: center;	
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	line-height: 207.9%;
	letter-spacing: 6px;
	text-transform: uppercase;
	color: #CCCDD7;
	margin-top: 16px;
}

.line-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
}

.social-net {
	width: 55%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-self: center;
}

.twitter, .fb, .inst, .vk {
	width: 22px;
	height: 22px;
}

.privacy {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	font-size: 11.7px;
	line-height: 163.35%;
	color: #CCCDD7;
	margin-bottom: 16px;
	margin-left: 35px;
}

